<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='utf-8'>
    <title>JCov</title>
    </meta>
    <script type="javascript">
      window.coverage = <%= coverage_data.to_json %>;
    </script>
  </head>
  <body>
    <h1>JCov</h1>
  </body>
</html>
